/* body */
*{
    border-color: #111;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

header {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
}
.header-wrapper{
    border: none;
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
}
.logo-wrapper{
    position: relative;
    border: none;
    padding-top: 5px;
    left: 5px;
}

.logo-wrapper a{
    border: none;
}

.nav-wrapper {
    border: none;
    position: relative;
    width: 100%;
}

.nav-wrapper a{
    border: none;
    float: right;
    font-size: 30px;
    padding: 20px;
}

main{
    top: 80px;
    position: relative;
    width: 70%;
    margin: auto;
    height:  1000px;
}

.Login-container{
    height: 700px;
}

a.Login-Button-User {
    position: relative;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-radius: 2px;
    left:27.5%;
    top: 40%;
    padding-left:5%;
    padding-right:5%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    text-align: center;
    
}

a.Login-Button-Business {
    position: relative;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 2px;
    text-decoration: none;
    color: initial;
    left: 32.5%;
    top: 40%;
    padding-left:4%;
    padding-right:4%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    text-align: center;
}

a.Login-Button-User:hover {
    background-color: whitesmoke;
    color: white;
}

a.Login-Button-Business:hover{
    background-color: whitesmoke;
    color: white;
}

footer{
    background-color: white;
    height: 200px;
    width: 70%;
    margin: auto;
}
