/* body */
*{
    border-color: #111;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

header {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
}
.header-wrapper{
    border: none;
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
}
.logo-wrapper{
    position: relative;
    border: none;
    padding-top: 5px;
    left: 5px;
}

.logo-wrapper a{
    border: none;
}

.nav-wrapper {
    border: none;
    position: relative;
    width: 100%;
}

.nav-wrapper a{
    border: none;
    float: right;
    font-size: 30px;
    padding: 20px;
}

main{
    top: 80px;
    position: relative;
    width: 70%;
    margin: auto;
    height:  1000px;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
}

.Login-Button{
    top: 150px;
    overflow: visible;
    position: relative;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    text-align: center;
    border-radius: 2px;
    width: 50%;
    padding-top: 350px;
    padding-bottom: 350px;
    font-size: 30px;
    
}

.bus-log{
    left: -7px;
}

a.Login-Button:hover {
    background-color: whitesmoke;
    color: white;
}

a.Login-Button:hover{
    background-color: whitesmoke;
    color: white;
}

.main-title{
    border: none;
    height: 100px;
    width: 400px;
    font-size: 75px;
}

.form-group{
    border: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.form-control-lg{
    position: relative;
    display: block;
    left: 42%;
    margin: 20px;
    height: 20px;
}
.form-control-label{
    border:none;
    font-size: 25px;
}

.form-check-label{
    border:none;
    font-size: 20px;
}
.submit-btn{
    text-align: center;
    border: none;
}

.text-muted{
    display: block;
    border: none;
    margin: 20px;
}

.ml-2{
    border: none;
    font-size: 20px;
    margin: 5px;;
}

.form-check{
    border: none;
}

footer{
    background-color: white;
    height: 200px;
    width: 70%;
    margin: auto;
}
